@model Ultima.Models.SpareParts.ItemSupplier

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ItemSupplier</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ItemPt.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemPt.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ItemSup.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemSup.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BuyPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BuyPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SalePrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SalePrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ListPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ListPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImgUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImgUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comments)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActivated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActivated)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
